body {
    font-family: 'Do Hyeon', sans-serif;
    background-image: url("/images/bg.png");
}

img {
    height: 75px;
    width: 75px;
}

.m-center {
    margin: 0 auto;
}

/* HEADER */
header .inner {
    width: 600px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px blueviolet;
    border-radius: 12px;
}

header .inner .title {
    color: violet;
    font-size: 48px;
}

/* BOARD */

.board {
    margin-top: 20px;
}
.board .squares .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.board .square {
    width: 74px;
    height: 74px;
}

.white-square {
    background-color: #ffdead;
}

.black-square {
    background-color: #a0522d;
}

