<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chess game</title>
    <link type="text/css" rel="stylesheet" href="/css/board.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="inner m-center">
            <div class="title">
                보스독의 체스 게임
            </div>
        </div>
    </header>
    <section class="board">
        <div class="inner m-center" id="board-inner">
        </div>
    </section>
    <script type="module" src="/js/view/Board.js"></script>
</body>
</html>