<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chess game</title>
    <link type="text/css" rel="stylesheet" href="/css/board.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="inner m-center">
            <div class="title">
                보스독의 체스 게임
            </div>
        </div>
    </header>

    <div>
        {{ boardId }} 번 보드를 실행합니다.
    </div>

<!--    <section class="board">-->
<!--        <div class="inner m-center">-->
<!--            <table border="0" width ="600" height="600" align = "center" cellspacing="0" cellpadding="0">-->
<!--                <tr align ="center">-->
<!--                    <td bgcolor="#ffdead"><img src="/images/{{ squares.a8 }}.png" alt=""/></td>-->
<!--                    <td bgcolor="#a0522d"><img src="/images/{{ squares.b8 }}.png" alt=""/></td>-->
<!--                    <td bgcolor="#ffdead"><img src="/images/{{ squares.c8 }}.png" alt=""/></td>-->
<!--                    <td bgcolor="#a0522d"><img src="/images/{{ squares.d8 }}.png" alt=""/></td>-->
<!--                    <td bgcolor="#ffdead"><img src="/images/{{ squares.e8 }}.png" alt=""/></td>-->
<!--                    <td bgcolor="#a0522d"><img src="/images/{{ squares.f8 }}.png" alt=""/></td>-->
<!--                    <td bgcolor="#ffdead"><img src="/images/{{ squares.g8 }}.png" alt=""/></td>-->
<!--                    <td bgcolor="#a0522d"><img src="/images/{{ squares.h8 }}.png" alt=""/></td>-->
<!--                </tr>-->
<!--                <tr align ="center">-->
<!--                    <td bgcolor="#a0522d">a7</td>-->
<!--                    <td bgcolor="#ffdead">b7</td>-->
<!--                    <td bgcolor="#a0522d">c7</td>-->
<!--                    <td bgcolor="#ffdead">d7</td>-->
<!--                    <td bgcolor="#a0522d">e7</td>-->
<!--                    <td bgcolor="#ffdead">f7</td>-->
<!--                    <td bgcolor="#a0522d">g7</td>-->
<!--                    <td bgcolor="#ffdead">h7</td>-->
<!--                </tr>-->
<!--                <tr align ="center">-->
<!--                    <td bgcolor="#ffdead">a6</td>-->
<!--                    <td bgcolor="#a0522d">b6</td>-->
<!--                    <td bgcolor="#ffdead">c6</td>-->
<!--                    <td bgcolor="#a0522d">d6</td>-->
<!--                    <td bgcolor="#ffdead">e6</td>-->
<!--                    <td bgcolor="#a0522d">f6</td>-->
<!--                    <td bgcolor="#ffdead">g6</td>-->
<!--                    <td bgcolor="#a0522d">h6</td>-->
<!--                </tr>-->
<!--                <tr align ="center">-->
<!--                    <td bgcolor="#a0522d">a5</td>-->
<!--                    <td bgcolor="#ffdead">b5</td>-->
<!--                    <td bgcolor="#a0522d">c5</td>-->
<!--                    <td bgcolor="#ffdead">d5</td>-->
<!--                    <td bgcolor="#a0522d">e5</td>-->
<!--                    <td bgcolor="#ffdead">f5</td>-->
<!--                    <td bgcolor="#a0522d">g5</td>-->
<!--                    <td bgcolor="#ffdead">h5</td>-->
<!--                </tr>-->
<!--                <tr align ="center">-->
<!--                    <td bgcolor="#ffdead">a4</td>-->
<!--                    <td bgcolor="#a0522d">b4</td>-->
<!--                    <td bgcolor="#ffdead">c4</td>-->
<!--                    <td bgcolor="#a0522d">d4</td>-->
<!--                    <td bgcolor="#ffdead">e4</td>-->
<!--                    <td bgcolor="#a0522d">f4</td>-->
<!--                    <td bgcolor="#ffdead">g4</td>-->
<!--                    <td bgcolor="#a0522d">h4</td>-->
<!--                </tr>-->
<!--                <tr align ="center">-->
<!--                    <td bgcolor="#a0522d">a3</td>-->
<!--                    <td bgcolor="#ffdead">b3</td>-->
<!--                    <td bgcolor="#a0522d">c3</td>-->
<!--                    <td bgcolor="#ffdead">d3</td>-->
<!--                    <td bgcolor="#a0522d">e3</td>-->
<!--                    <td bgcolor="#ffdead">f3</td>-->
<!--                    <td bgcolor="#a0522d">g3</td>-->
<!--                    <td bgcolor="#ffdead">h3</td>-->
<!--                </tr>-->
<!--                <tr align ="center">-->
<!--                    <td bgcolor="#ffdead">a2</td>-->
<!--                    <td bgcolor="#a0522d">b2</td>-->
<!--                    <td bgcolor="#ffdead">c2</td>-->
<!--                    <td bgcolor="#a0522d">d2</td>-->
<!--                    <td bgcolor="#ffdead">e2</td>-->
<!--                    <td bgcolor="#a0522d">f2</td>-->
<!--                    <td bgcolor="#ffdead">g2</td>-->
<!--                    <td bgcolor="#a0522d">h2</td>-->
<!--                </tr>-->
<!--                <tr align ="center">-->
<!--                    <td bgcolor="#a0522d">a1</td>-->
<!--                    <td bgcolor="#ffdead">b1</td>-->
<!--                    <td bgcolor="#a0522d">c1</td>-->
<!--                    <td bgcolor="#ffdead">d1</td>-->
<!--                    <td bgcolor="#a0522d">e1</td>-->
<!--                    <td bgcolor="#ffdead">f1</td>-->
<!--                    <td bgcolor="#a0522d">g1</td>-->
<!--                    <td bgcolor="#ffdead">h1</td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
<!--    </section>-->
</body>
</html>