<!DOCTYPE HTML>
<html>
    <head>
        <title>모두의 체스</title>
        <link type="text/css" rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1 id="index-title">체스 게임 목록</h1>
        <section class="board-list-section">
            <div class="inner m-center">
                <ul id="board-list">
                </ul>
            </div>
        </section>
        <button class="control-btn m-center" id="create-btn">새 게임</button>

        <script type="module" src="/js/view/Index.js"></script>
    </body>
</html>